@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
* {
    font-family: 'Amiko', sans-serif;
}

.cuerpo {
    height: 100vh;
}
#fondo-color{
    background-color: #f7f6f6;
}

/* Left */
#logo-inicio{
    width: 200px;
    height: 200px;
    margin-top: 10%;
}


/* Right */
.inicio-R {
    background-color: #bf83f0;
    opacity: 0.8;
}



#posit{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 70px;
}

