body{
    height: 100vh;
    background-color: #F7F6F6;
}

section,.div-form{
    height: 50vh;
}

header{
    height: 25vh;
}

.div-form{
    height: auto;
}

.email{
    width: 30px;
}

.letra{
    color: white;
    width: 50%;
}


/* 768, 992, 1200, 1400 */
@media (max-width: 576px){
    .logo{
        width: 50%;
    }
}